@model List<Superheroes.Models.Superhero>

@{
    ViewData["Title"] = "Home";
}


<h1>The Best Superheroes</h1>
@foreach (var superhero in Model)
{
    <a asp-controller="Superhero"
       asp-action="Details"
       asp-route-id="@superhero.Id"><h4>@superhero.Name</h4></a>
}

